# Database Configuration
POSTGRES_DB=devops_lab
POSTGRES_USER=devops_user
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_ROOT_PASSWORD=change_me_in_production

# Network Configuration
DB_HOST=db
DB_PORT=5432

# Application Configuration
APP_PATH=/home/ubuntu/DevOps-Lab-App
GIT_REPO_URL=https://github.com/fraylope/DevOps-Lab.git

# Ansible Configuration
ANSIBLE_USER=ubuntu
ANSIBLE_HOST=localhost
ANSIBLE_PORT=22

# Docker Configuration
WEB_PORT=8080
WEB_IMAGE_TAG=1.25-alpine
POSTGRES_IMAGE_TAG=15-alpine
